
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
DEBUG=
APP_NAME=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=
MAIL_STARTTLS=
MAIL_SSL_TLS=
USE_CREDENTIALS=
VALIDATE_CERTS=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_CONFIG_SERVER_MODE=

APP_PORT=
PGADMIN_PORT=
FLOWER_PORT=
REDIS_COMMANDER_PORT=
MAILHOG_SMTP_PORT=
MAILHOG_UI_PORT=

LOG_LEVEL=
