fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
PyJWT
itsdangerous
asyncpg
redis
celery[redis]
flower
python-dateutil
email-validator
python-multipart
fastapi-mail
resend
alembic
pydantic-settings
python-dotenv

# testing
pytest
pytest-asyncio
httpx
